/* Shared Styles */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: #0B0A0F;
  padding: 20px; /* Add padding to the container */
}

.members-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* Change to a single column for small screens */
  gap: 20px;
  padding: 20px;
  background: #000;
}

.contact-card {
  border-radius: 10px; /* Reduced border-radius for a cleaner look */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: #fff;
  height: 100%; /* Set height to 100% to fill the container */
}

.contact-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.contact-container {
  position: relative;
  text-align: center;
  padding: 20px;
}

.meet-our-team {
  text-align: center;
  margin: 20px auto;
  width: 100%;
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  font-size: 2rem; /* Adjust font size for smaller screens */
  font-weight: 500;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .members-container {
    grid-template-columns: repeat(1, 1fr); /* Display in a single column for small screens */
  }

  .contact-card {
    width: 100%; /* Set width to 100% for mobile view */
  }
}

@media (min-width: 601px) {
  .members-container {
    grid-template-columns: repeat(3, 1fr); /* 3x3 grid for larger screens */
  }
}
