/* Shared Styles */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background: #0B0A0F;
  padding: 20px;
}

.members-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 20px;
  background: #000;
}

/* Card Styles */
.card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  height: 100%;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-info h2 {
  margin: 0;
  color: #fff;
}

.card-info p {
  color: #ddd;
  margin: 5px 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.icon {
  fill: #ddd;
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.icon-container a {
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.icon-container a:hover {
  background-color: #3e3d97;
  transform: scale(1.1);
}

.icon-container a:hover .icon {
  fill: white;
}

/* Responsive Styles */
@media (max-width: 600px) {
  .members-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 100%;
  }
}

@media (min-width: 601px) {
  .members-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
