.cardHeading {
  color: black;
}

.bg {
  background-image: url("../../../public/redbg.svg");
  background-size: contain;
  background-repeat: repeat;
  background-position: 120% -10%;
  background-color: #030f1b;
  color: black;
}
