.backdrop {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 50;
  background: #000000e1;
  display: flex;
  align-items: center;
  justify-content: center;
}
