/* Used for Responsiveness in Mobile Mode  */
/* Custom Class is used named `customTitle`   */
.customTitle{
    margin-left: -16px !important;
}

  .heading-come{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    height: 100%;
    margin-bottom: 2rem;
    color: white;
    font-family: spacefont;
    text-align: center;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 140px;
    margin-top: 140px;
    align-items: center;
    place-items: center;
    left: 50%;
    top: 50%;
   
  
  }
  .heading{
    padding:10%;
    height: 100%;
  }
  @media screen and (max-width: 500px) {
    .heading-come{
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      height: 100%;
      
      color: white;
      font-family: spacefont;
    
    }
    .heading{
      padding-top: 45%;
      height: 100%;
    }
  }

@media (max-width: 600px){
    .customTitle{
        margin-left: -18px !important;
    }
}
