/* Used for Responsiveness in Mobile Mode  */
/* Custom Class is used named `customTitle`   */
.customTitle{
    margin-left: -16px !important;
}
.heading-come{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-top: 15%;
    margin-bottom: 2rem;
    color: white;
    font-family: spacefont;
  
  }

@media (max-width: 600px){
    .customTitle{
        margin-left: -18px !important;
    }
}
