.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }
  
  .image-container {
    padding-right: 5rem;
    padding-left: 0.3rem;
    flex-shrink: 0;
    width: 100%;
    /* border-radius: 10%; */
    max-width: 500px; 
    overflow: hidden;
  }

  /* @media(max-width:1024px)
  {
    .content-container{
        flex-direction: column;
        overflow-y: auto;   
        overflow-x: hidden;

    }

    .image-container {
        width: 14rem;
        padding-right: 0;
        padding-left: 0;
        margin: 1rem;
    }
  } */

  @media (max-width: 1024px) {
    .content-container {
      flex-direction: column;
      overflow-y: auto; 
      overflow-x: hidden;
      /* height: 100rem; */
    }

    .image-container {
        width: 14rem;
        padding-right: 0;
        padding-left: 0;
        margin: 1rem;
    }
  }
  

  
  