@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "nasa";
  src: url("../../public/fonts/nasa/spaceAge.ttf");
}

@font-face {
  font-family: "lemonmilk";
  src: url("../../public/fonts/lemonMilk/LEMONMILK-Medium.otf");
}

@font-face {
  font-family: "beyonders";
  src: url("../../public/fonts/beyonders/Beyonders.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.spaceFont {
  font-family: "nasa";
}

.lemonMilkFont {
  font-family: "lemonmilk";
}

.beyonderFont {
  font-family: "beyonders";
}

.gradient-bg {
  background-image: url("../../public/gradient-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.mainEventsPage {
  background-image: url("../../public/homepagetheme.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10% -50%;
  background-color: #030f1b;
  color: whitesmoke;
}

.button-bg {
  background-color: #b778ff;
  border: 1px solid #b778ffa9;
  border-radius: 10px;
}

.button-explore {
  font-size: 20px;
  font-weight: bold;
}

.button-hover {
  margin-left: 10px;
  margin-top: 3px;
  transform: rotate(45deg);
  transition: transform 0.3s ease-in-out;
}

.hover-effect:hover .button-hover {
  transform: rotate(0deg) scale(150%);
}

.custom-hr {
  height: 10px;
  border: 0px solid;
  width: 90%;
  margin: auto;
  background-color: #b778ffa9;
}

.glass-bg {
  background-color: rgba(255, 255, 255, 0.25);
  border: 3px solid #b778ffa9;
  /* border: 3px solid rgba(255, 255, 255, 0.18); */
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.glass-bg:hover {
  transform: scale(105%);
  box-shadow: 0 0 10px 5px #b778ffa9;
}

.custom-modal-rules{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.72);
}

.card-custom-background {
  background: rgb(3, 2, 28);
  background: radial-gradient(
    circle,
    rgba(3, 2, 28, 0.5) 0%,
    rgba(5, 5, 83, 0.5) 100%
  );
}

.modal-custom {
  width: clamp(70%, 700px, 90%);
  height: min(70%, 700px);
  margin: auto;
  border-radius: 12px;
  background: rgb(3, 2, 28);
  background: radial-gradient(circle,
      rgba(3, 2, 28, 1) 0%,
      rgba(5, 5, 83, 1) 100%);
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .contact-container {
    position: relative;
    align-items: center;
    align-content: center;

    grid-template-columns: repeat(1, 1fr);
  }

  .contact-card {
    margin: auto;
    align-items: center;
    align-content: center;
    display: flex;
  }
}

.navBarShape {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  background-color: #010a4a;
  font-size: 0.6rem;
}

.spaceThemeBackground {
  background-image: url("../../public/homepagetheme.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.cornerBlobBackground {
  background-image: url("../../public/images/cornerBlobs.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.randomBlobBackground {
  background-image: url("../../public/images/randomBlobs.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.randomBlobBackground2 {
  background-image: url("../../public/images/randomBlobs2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.randomBlobBackground3 {
  background-image: url("../../public/images/randomBlobs3.svg");
  background-size: fill;
  background-repeat: no-repeat;
}
