@tailwind base;
@tailwind components;
@tailwind utilities;


/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
}

::-webkit-scrollbar-thumb {
  background-color: hsl(251, 100%, 43%);
  border-radius: 4px;
  /* border: 3px solid #f1f1f1; */
}

/* For Firefox */
.scrollbar {
  width: 12px;
}

.scrollbar-track {
  background: #f1f1f1;
}

.scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
  border: 3px solid #f1f1f1;
}

@font-face {
  font-family: "nasa";
  src: url("../../public/fonts/beyonders/Beyonders.ttf");
}

@font-face {
  font-family: "lemonmilk";
  src: url("../../public/fonts/lemonMilk/LEMONMILK-Medium.otf");
}

@font-face {
  font-family: "beyonders";
  src: url("../../public/fonts/beyonders/Beyonders.ttf");
}

@font-face {
  font-family: "coolvetica";
  src: url("../../public/fonts/coolvetica/coolvetica.otf");
}

@font-face {
  font-family: "vogue";
  src: url("../../public/fonts/classy_rogue/Classyvogueregular.ttf");
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
}
.spaceFont {
  font-family: "nasa";
}

.lemonMilkFont {
  font-family: "lemonmilk";
}

.beyonderFont {
  font-family: "beyonders";
}

.coolveticaFont {
  font-family: "coolvetica";
}

.vogueFont {
  font-family: "vogue";
}

.patternBackground {
  background: rgba(92, 12, 121, 0.4);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(92, 12, 121, 0.375);
}
.bg-all{
  background-image: url("../../public/homepagetheme.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
}

.custom-shape-divider-top-1704258614 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1704258614 svg {
  position: relative;
  display: block;
  width: calc(130% + 1.3px);
  height: 207px;
}

.card-custom-background {
  background: rgb(3, 2, 28);
  background: radial-gradient(
    circle,
    rgba(3, 2, 28, 0.5) 0%,
    rgba(5, 5, 83, 0.5) 100%
  );
  backdrop-filter: blur(5px);
}

.custom-flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 20px;
  justify-content: space-around;
}

.custom-card {
  width: 100%;
  max-width: 300px;
  border-radius: 4%;
  box-shadow: -2px 2px 6px #ffffffb0;
  margin-bottom: 20px;
  padding: 1%;
  /* background: rgba(132, 51, 195, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18); */
  border-top: 3px solid rgba(100, 99, 102, 0.15);
  border-right: 3px solid rgba(100, 99, 102, 0.15);
}

@media (max-width: 600px) {
  .custom-card {
    max-width: 16.5rem;
    max-height: 23rem;
    box-shadow: 6px -2px 2px rgba(100, 99, 102, 0.15);
    border: 2px solid rgba(100, 99, 102, 0.15);
  }

  .events-main-text {
    font-size: 2rem;
  }
}

.custom-card-figure {
  position: relative;
  height: 10rem;
  /* overflow: hidden; */
}

.custom-card-image-wrapper {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.custom-card-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.custom-card-title {
  font-size: 1.5rem; /* Adjust the font size as needed */
  font-weight: bold;
  margin-bottom: 5px;
}

.waveBg {
  background: url("../../public/images/footer-01.webp") no-repeat;

  background-size: cover;
  background-position-y: 60%;
  background-position-x: -10%;
}

.modal-custom {
  width: clamp(70%, 700px, 90%);
  height: min(70%, 700px);
  margin: auto;
  border-radius: 12px;
  background: rgb(3, 2, 28);
  background: radial-gradient(
    circle,
    rgba(3, 2, 28, 1) 0%,
    rgba(5, 5, 83, 1) 100%
  );
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .contact-container {
    position: relative;
    align-items: center;
    align-content: center;

    grid-template-columns: repeat(1, 1fr);
  }

  .contact-card {
    margin: auto;
    align-items: center;
    align-content: center;
    display: flex;
  }
}

.navBarShape {
  clip-path: polygon(0 0, 100% 0, 95% 100%, 5% 100%);
  background-color: rgb(75, 5, 141);
  font-size: 0.6rem;
  color: rgb(250, 250, 250);
}

.spaceThemeBackground {
  background-image: url("../../public/homepagetheme.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.cornerBlobBackground {
  background-image: url("../../public/images/cornerBlobs.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.randomBlobBackground {
  background-image: url("../../public/images/randomBlobs.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.randomBlobBackground2 {
  background-image: url("../../public/images/randomBlobs2.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.randomBlobBackground3 {
  background-image: url("../../public/images/randomBlobs3.svg");
  background-size: fill;
  background-attachment:fixed;
  background-repeat: no-repeat;
}
