.registerEventsPage {
  min-height: 100vh; 
  height: auto; 
}

.failed-registration-modal
{
    background-color: rgb(255, 255, 255,0.1);

}
.event-register-form
{
    backdrop-filter: blur(10px);
}

.card {
  background: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(10px); */
  /* border-radius: 15px; */
  padding: 20px;
  /* text-align: center; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  color: #fff;
  height: 100%;
}

.card:hover {
  transform: translateY(-10px);
}


@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .fade-in {
    animation: fadeIn 500ms ease-in-out;
  }

  .fade-out {
    animation: fadeOut 500ms ease-in-out;
  }

@media (max-width: 640px) {
    .mobile-padding {
      padding: 0 1.5rem; 
    }
  }
  
  @media (min-width: 641px) and (max-width: 768px) {
    .mobile-padding {
      padding: 0 2rem; 
    }
  } 
  
  
