//  
color: 'white';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Prodyogiki
color: 'white';
 fontSize: 20;
 fontFamily: 'Inter';
 fontWeight: '500';
 letterSpacing: 5;
 wordWrap: 'break-word'
---
// Register
color: 'white';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Register
color: 'white';
 fontSize: 16;
 fontFamily: 'Rubik';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Enter the Cosmos Hub
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '600';
 textTransform: 'uppercase';
 lineHeight: 20.80;
 letterSpacing: 1.28;
 wordWrap: 'break-word'
---
// Cosmos Hub
color: 'black';
 fontSize: 20.33;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 27.45;
 wordWrap: 'break-word'
---
// →
color: 'black';
 fontSize: 21.33;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 27.45;
 wordWrap: 'break-word'
---
// Connect
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 13;
 fontFamily: 'Inter';
 fontWeight: '600';
 textTransform: 'uppercase';
 lineHeight: 17;
 letterSpacing: 1.04;
 wordWrap: 'break-word'
---
// Integrate
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 13;
 fontFamily: 'Inter';
 fontWeight: '600';
 textTransform: 'uppercase';
 lineHeight: 17;
 letterSpacing: 1.04;
 wordWrap: 'break-word'
---
// Validate
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 13;
 fontFamily: 'Inter';
 fontWeight: '600';
 textTransform: 'uppercase';
 lineHeight: 17;
 letterSpacing: 1.04;
 wordWrap: 'break-word'
---
// Login
color: 'white';
 fontSize: 16;
 fontFamily: 'Rubik';
 fontWeight: '500';
 wordWrap: 'break-word'
---
// Receive Updates
color: 'white';
 fontSize: 27.43;
 fontFamily: 'Inter';
 fontWeight: '700';
 lineHeight: 36.10;
 wordWrap: 'break-word'
---
// Unsubscribe at any time.
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 13;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 21.12;
 letterSpacing: 0.05;
 wordWrap: 'break-word'
---
// Privacy policy↗
color: 'white';
 fontSize: 13;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 21.12;
 letterSpacing: 0.05;
 wordWrap: 'break-word'
---
// Your email
color: '#666666';
 fontSize: 21.33;
 fontFamily: 'Inter';
 fontWeight: '200';
 wordWrap: 'break-word'
---
// Learn
color: 'white';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20.80;
 wordWrap: 'break-word'
---
// Introduction
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// Features
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// Staking
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// Get ATOM
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// FAQ
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// Build
color: 'white';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20.80;
 wordWrap: 'break-word'
---
// Developer Portal
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Ignite CLI
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Cosmos SDK
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// IBC Protocol
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Explore
color: 'white';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20.80;
 wordWrap: 'break-word'
---
// Tokens
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// Apps & Services
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// Wallets
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// Gravity DEX
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// Blog
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Participate
color: 'white';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20.80;
 wordWrap: 'break-word'
---
// Community
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Contributors
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Events
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Newsletters
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Resources
color: 'white';
 fontSize: 15;
 fontFamily: 'Inter';
 fontWeight: '600';
 lineHeight: 20.80;
 wordWrap: 'break-word'
---
// About
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Press Kit
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Design
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// Resources
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 16;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 26;
 wordWrap: 'break-word'
---
// ↗
color: 'rgba(255;
 255;
 255;
 0.50)';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '300';
 lineHeight: 12;
 wordWrap: 'break-word'
---
// HOME
color: '#9492FF';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// EVENT
color: 'white';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// DASHBOARD
color: 'white';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// WORKSHOP
color: 'white';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// TIMELINE
color: 'white';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// SPONSOR
color: 'white';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'
---
// CONTACT US
color: 'white';
 fontSize: 12;
 fontFamily: 'Inter';
 fontWeight: '400';
 wordWrap: 'break-word'