body {
  /* background-image:url("../../../public/support.webp"); */
  align-items: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  overflow-x: hidden !important;

 }
 
.supportcard{
  opacity: 0.8;
  width: 20rem;
}
.supportcard:hover{
  opacity: 1;
  cursor: pointer;
}

.modal-backdrop {
 margin: auto !important;
 position: fixed;
 top: 12%;
 width: 70%;
 height: 80%;
 right: 15%;
 background-color: rgb(18, 18, 18);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius:2vh ;
 z-index: 1000;
}
.heading-come{
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  height: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: white;
  font-family: spacefont;
  left: 50%;
  top: 50%;

}
.heading{
  padding:14%;
  height: 100%;
  margin-top: 20rem;
  margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 2px;
    margin-top: 5px;
   height: 100%;
    
    
}
@media screen and (max-width: 500px) {
  .heading-come{
    font-size: 2rem;
    padding: 20%;
    font-weight: 600;
    text-align: center;
    height: 100%;
   text-align: center;
   align-items: center;
   margin-bottom: 1rem;
  margin-top: 2rem;
  margin-left: 9px;
    margin-right: 9px;
    color: white;
    font-family: spacefont;
  
  }
  .heading{
    
    height: 100%;
    margin-bottom: 27rem;
    margin-top: 2rem;
  }
}

.close-modal{
  color: white;
  z-index: 1001;
  position: absolute;
  top:1%;
  right: 2%;
  font-size: xxx-large;
}
.modal-img{
  /* padding-top: 5rem; */
 border-radius: 2vh;
  position: relative;
 object-position: center;
 margin: auto;
 display: block;

}

.sponserPage{
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: 10% -50%; */
  color: whitesmoke;
  background-attachment: fixed;

}


.modal-content{
  line-spacing: 1.5;
  width: 100%;
  height: 100%;
}

.blurred {
 filter: blur(4px);
}

@media screen and (min-width: 500px) {
  .modal-img{
    width: 60%;
    height: 60%;
   
  }
}


@media screen and (max-width: 500px) {
 .modal-backdrop {
    margin: auto !important;
    position: fixed;
    top: 7%;
    width: 90%;
    height: 90%;
    right: 5%;
    background-color: rgba(0, 0, 0,0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:2vh ;
    z-index: 1000;
  }

.modal-img{
  /* width: 100%;
  height: 50%; */
  margin: 0;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;

}

.modal-content{
 width: 95%;
 padding: 2vh;
 /* height: 0 !important; */
}
/* .sponsor-card-div{
  padding: 10px;
} */
.supportcard{
  width: 180px;
  height: 160px;
}
 
}
